In [1]:
import pandas as pd
import numpy as np
from urllib.request import urlretrieve

# Get airbnb dataset of interest 

This website has a ton of scraped data from AirBnB for different cities and regions around the world.

In [2]:
url = 'https://data.insideairbnb.com/portugal/lisbon/lisbon/2024-03-18/data/listings.csv.gz'
local_path = '/Users/katialopes-gilbert/repos/streamlit-demo/data/'
file_name = '2024-03-18-lisbon-listings.csv'

# save file locally
urlretrieve(url, local_path + file_name)

('/Users/katialopes-gilbert/repos/streamlit-demo/data/2024-03-18-lisbon-listings.csv',
 <http.client.HTTPMessage at 0x14f9b3990>)

In [3]:
df = pd.read_csv(local_path + file_name, compression='gzip', dtype={'id': str})

In [4]:
df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,935509480248268779,https://www.airbnb.com/rooms/935509480248268779,20240318023624,2024-03-18,city scrape,RC pascoal Q3,"This special place is close to everything, whi...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,236955701,...,3.67,4.44,4.11,115251/AL,t,31,5,26,0,1.14
1,1033186766563842755,https://www.airbnb.com/rooms/1033186766563842755,20240318023624,2024-03-18,city scrape,"Twin room city center, tourists spot, city centre",Ideal accommodation for people coming to visit...,The neighborhood is awesome. You have also a b...,https://a0.muscache.com/pictures/6c6b81fd-eae7...,185898036,...,5.00,4.60,4.40,Exempt,t,110,18,92,0,1.44
2,955103410770875754,https://www.airbnb.com/rooms/955103410770875754,20240318023624,2024-03-18,city scrape,Central Lisbon Stylish Apartment,Feel the breeze and become yourself a natural ...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,531095694,...,4.73,4.36,4.55,123417/AL,t,1,1,0,0,1.54
3,790314265525149124,https://www.airbnb.com/rooms/790314265525149124,20240318023624,2024-03-18,city scrape,Quarto iluminado com varanda,Central Apartment.<br />3 minute walk from the...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,453929593,...,4.94,4.61,4.90,112845/AL,t,7,0,7,0,3.68
4,28040202,https://www.airbnb.com/rooms/28040202,20240318023624,2024-03-18,city scrape,Páteo Saudade Rooms,Double bedroom in apartment with fully equippe...,NaN,https://a0.muscache.com/pictures/25340ca0-7d27...,32743314,...,4.79,4.57,4.71,82000/AL,f,15,11,4,0,0.21

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22929 entries, 0 to 22928
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            22929 non-null  object
 1   listing_url                                   22929 non-null  object
 2   scrape_id                                     22929 non-null  int64
 3   last_scraped                                  22929 non-null  object
 4   source                                        22929 non-null  object
 5   name                                          22929 non-null  object
 6   description                                   22299 non-null  object
 7   neighborhood_overview                         13403 non-null  object
 8   picture_url                                   22929 non-null  object
 9   host_id                                       22929 non-null  int64
 10  host_url                                      22929 non-null  object
 11  host_name                                     22929 non-null  object
 12  host_since                                    22929 non-null  object
 13  host_location                                 16702 non-null  object
 14  host_about                                    12875 non-null  object
 15  host_response_time                            19730 non-null  object
 16  host_response_rate                            19730 non-null  object
 17  host_acceptance_rate                          21077 non-null  object
 18  host_is_superhost                             22768 non-null  object
 19  host_thumbnail_url                            22929 non-null  object
 20  host_picture_url                              22929 non-null  object
 21  host_neighbourhood                            9252 non-null   object
 22  host_listings_count                           22929 non-null  int64
 23  host_total_listings_count                     22929 non-null  int64
 24  host_verifications                            22929 non-null  object
 25  host_has_profile_pic                          22929 non-null  object
 26  host_identity_verified                        22929 non-null  object
 27  neighbourhood                                 13403 non-null  object
 28  neighbourhood_cleansed                        22929 non-null  object
 29  neighbourhood_group_cleansed                  22929 non-null  object
 30  latitude                                      22929 non-null  float64
 31  longitude                                     22929 non-null  float64
 32  property_type                                 22929 non-null  object
 33  room_type                                     22929 non-null  object
 34  accommodates                                  22929 non-null  int64
 35  bathrooms                                     20067 non-null  float64
 36  bathrooms_text                                22901 non-null  object
 37  bedrooms                                      22114 non-null  float64
 38  beds                                          20006 non-null  float64
 39  amenities                                     22929 non-null  object
 40  price                                         20029 non-null  object
 41  minimum_nights                                22929 non-null  int64
 42  maximum_nights                                22929 non-null  int64
 43  minimum_minimum_nights                        22929 non-null  int64
 44  maximum_minimum_nights                        22929 non-null  int64
 45  minimum_maximum_nights                        22929 non-null  int64
 46  maximum_maximum_nights                        22929 non-null  int64
 47  minimum_nights_avg_ntm                        22929 non-null  float64
 48  maximum_nights_avg_ntm                        22929 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              22429 non-null  object
 51  availability_30                               22929 non-null  int64
 52  availability_60                               22929 non-null  int64
 53  availability_90                               22929 non-null  int64
 54  availability_365                              22929 non-null  int64
 55  calendar_last_scraped                         22929 non-null  object
 56  number_of_reviews                             22929 non-null  int64
 57  number_of_reviews_ltm                         22929 non-null  int64
 58  number_of_reviews_l30d                        22929 non-null  int64
 59  first_review                                  19591 non-null  object
 60  last_review                                   19591 non-null  object
 61  review_scores_rating                          19599 non-null  float64
 62  review_scores_accuracy                        19594 non-null  float64
 63  review_scores_cleanliness                     19594 non-null  float64
 64  review_scores_checkin                         19592 non-null  float64
 65  review_scores_communication                   19594 non-null  float64
 66  review_scores_location                        19592 non-null  float64
 67  review_scores_value                           19594 non-null  float64
 68  license                                       21582 non-null  object
 69  instant_bookable                              22929 non-null  object
 70  calculated_host_listings_count                22929 non-null  int64
 71  calculated_host_listings_count_entire_homes   22929 non-null  int64
 72  calculated_host_listings_count_private_rooms  22929 non-null  int64
 73  calculated_host_listings_count_shared_rooms   22929 non-null  int64
 74  reviews_per_month                             19591 non-null  float64
dtypes: float64(16), int64(22), object(37)
memory usage: 13.1+ MB

In [6]:
cols_to_keep = ['id', 'name', 'neighbourhood', 'neighbourhood_cleansed', 'longitude', 'latitude', 'property_type', 
                'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'price', 'number_of_reviews', 
                'review_scores_rating', 'reviews_per_month', 'host_name', 'host_location', 'host_since',
                'host_is_superhost', 'host_listings_count', 'host_total_listings_count', 'host_identity_verified',
                'license']

df_lisbon = df[cols_to_keep]

In [7]:
df_lisbon.head(2)

,id,name,neighbourhood,neighbourhood_cleansed,longitude,latitude,property_type,room_type,accommodates,bathrooms,...,review_scores_rating,reviews_per_month,host_name,host_location,host_since,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,license
0,935509480248268779,RC pascoal Q3,NaN,Arroios,-9.138308,38.731989,Private room in rental unit,Private room,1,2.5,...,3.89,1.14,Vagner,"Lisbon, Portugal",2019-01-16,f,31,32,t,115251/AL
1,1033186766563842755,"Twin room city center, tourists spot, city centre","Lisboa, Portugal",Arroios,-9.142410,38.727730,Private room in rental unit,Private room,2,1.0,...,4.40,1.44,Flavio,NaN,2018-04-23,f,178,230,t,Exempt

In [8]:
df_lisbon.dtypes

id                            object
name                          object
neighbourhood                 object
neighbourhood_cleansed        object
longitude                    float64
latitude                     float64
property_type                 object
room_type                     object
accommodates                   int64
bathrooms                    float64
bedrooms                     float64
beds                         float64
price                         object
number_of_reviews              int64
review_scores_rating         float64
reviews_per_month            float64
host_name                     object
host_location                 object
host_since                    object
host_is_superhost             object
host_listings_count            int64
host_total_listings_count      int64
host_identity_verified        object
license                       object
dtype: object

In [9]:
df_lisbon['price_eur'] = df_lisbon['price'].str.replace('$', '')
df_lisbon['price_eur'] = df_lisbon['price_eur'].str.replace(',', '')
df_lisbon['price_eur'] = pd.to_numeric(df_lisbon['price_eur'])

/var/folders/b2/nkpmrw0s42q_zm32rwshljyr0000gn/T/ipykernel_56348/16545994.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lisbon['price_eur'] = df_lisbon['price'].str.replace('$', '')
/var/folders/b2/nkpmrw0s42q_zm32rwshljyr0000gn/T/ipykernel_56348/16545994.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lisbon['price_eur'] = df_lisbon['price_eur'].str.replace(',', '')
/var/folders/b2/nkpmrw0s42q_zm32rwshljyr0000gn/T/ipykernel_56348/16545994.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lisbon['price_eur'] = pd.to_numeric(df_lisbon['price_eur'])

In [10]:
df_lisbon.dtypes

id                            object
name                          object
neighbourhood                 object
neighbourhood_cleansed        object
longitude                    float64
latitude                     float64
property_type                 object
room_type                     object
accommodates                   int64
bathrooms                    float64
bedrooms                     float64
beds                         float64
price                         object
number_of_reviews              int64
review_scores_rating         float64
reviews_per_month            float64
host_name                     object
host_location                 object
host_since                    object
host_is_superhost             object
host_listings_count            int64
host_total_listings_count      int64
host_identity_verified        object
license                       object
price_eur                    float64
dtype: object

In [11]:
df_lisbon.describe()

,longitude,latitude,accommodates,bathrooms,bedrooms,beds,number_of_reviews,review_scores_rating,reviews_per_month,host_listings_count,host_total_listings_count,price_eur
count,22929.000000,22929.000000,22929.000000,20067.000000,22114.000000,20006.000000,22929.000000,19599.000000,19591.000000,22929.000000,22929.000000,20029.000000
mean,-9.207558,38.761844,3.852937,1.442343,1.703491,2.414576,60.624580,4.643127,1.451903,32.665533,46.749618,127.307953
std,0.112571,0.111675,2.383724,0.876686,1.246943,2.014215,94.925378,0.426366,1.473426,103.666998,232.892520,178.149540
min,-9.488100,38.676140,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.010000,1.000000,1.000000,10.000000
25%,-9.286540,38.711040,2.000000,1.000000,1.000000,1.000000,3.000000,4.520000,0.390000,2.000000,2.000000,65.000000
50%,-9.147540,38.719210,4.000000,1.000000,1.000000,2.000000,20.000000,4.750000,1.000000,5.000000,6.000000,90.000000
75%,-9.134800,38.747320,5.000000,2.000000,2.000000,3.000000,76.000000,4.900000,2.110000,18.000000,22.000000,138.000000
max,-8.838504,39.303860,16.000000,15.000000,43.000000,76.000000,1576.000000,5.000000,38.750000,2426.000000,8919.000000,9200.000000

In [12]:
df_lisbon.isnull().sum()

id                              0
name                            0
neighbourhood                9526
neighbourhood_cleansed          0
longitude                       0
latitude                        0
property_type                   0
room_type                       0
accommodates                    0
bathrooms                    2862
bedrooms                      815
beds                         2923
price                        2900
number_of_reviews               0
review_scores_rating         3330
reviews_per_month            3338
host_name                       0
host_location                6227
host_since                      0
host_is_superhost             161
host_listings_count             0
host_total_listings_count       0
host_identity_verified          0
license                      1347
price_eur                    2900
dtype: int64

In [16]:
import data_utils

In [17]:
data_utils.calculate_percentile(df_lisbon, 'price_eur', 0.99)

799.7200000000012

In [15]:
x = df_lisbon['price_eur'].mean()
x

127.30795346747216