In [1]:
import pandas as pd
import numpy as np
from urllib.request import urlretrieve

# Get airbnb dataset of interest 

This website has a ton of scraped data from AirBnB for different cities and regions around the world.

Here is the [data dictionary](https://docs.google.com/spreadsheets/d/1iWCNJcSutYqpULSQHlNyGInUvHg2BoUGoNRIGa6Szc4/edit#gid=1322284596) for the 2024 data.

In [2]:
url = 'https://data.insideairbnb.com/portugal/lisbon/lisbon/2024-03-18/data/listings.csv.gz'
local_path = '/Users/katialopes-gilbert/repos/streamlit-demo/data/'
file_name = '2024-03-18-lisbon-listings.csv'

# save file locally
urlretrieve(url, local_path + file_name)

('/Users/katialopes-gilbert/repos/streamlit-demo/data/2024-03-18-lisbon-listings.csv',
 <http.client.HTTPMessage at 0x108065d90>)

In [3]:
df = pd.read_csv(local_path + file_name, compression='gzip', dtype={'id': str})

In [4]:
df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,935509480248268779,https://www.airbnb.com/rooms/935509480248268779,20240318023624,2024-03-18,city scrape,RC pascoal Q3,"This special place is close to everything, whi...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,236955701,...,3.67,4.44,4.11,115251/AL,t,31,5,26,0,1.14
1,1033186766563842755,https://www.airbnb.com/rooms/1033186766563842755,20240318023624,2024-03-18,city scrape,"Twin room city center, tourists spot, city centre",Ideal accommodation for people coming to visit...,The neighborhood is awesome. You have also a b...,https://a0.muscache.com/pictures/6c6b81fd-eae7...,185898036,...,5.00,4.60,4.40,Exempt,t,110,18,92,0,1.44
2,955103410770875754,https://www.airbnb.com/rooms/955103410770875754,20240318023624,2024-03-18,city scrape,Central Lisbon Stylish Apartment,Feel the breeze and become yourself a natural ...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,531095694,...,4.73,4.36,4.55,123417/AL,t,1,1,0,0,1.54
3,790314265525149124,https://www.airbnb.com/rooms/790314265525149124,20240318023624,2024-03-18,city scrape,Quarto iluminado com varanda,Central Apartment.<br />3 minute walk from the...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,453929593,...,4.94,4.61,4.90,112845/AL,t,7,0,7,0,3.68
4,28040202,https://www.airbnb.com/rooms/28040202,20240318023624,2024-03-18,city scrape,Páteo Saudade Rooms,Double bedroom in apartment with fully equippe...,NaN,https://a0.muscache.com/pictures/25340ca0-7d27...,32743314,...,4.79,4.57,4.71,82000/AL,f,15,11,4,0,0.21

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22929 entries, 0 to 22928
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            22929 non-null  object
 1   listing_url                                   22929 non-null  object
 2   scrape_id                                     22929 non-null  int64
 3   last_scraped                                  22929 non-null  object
 4   source                                        22929 non-null  object
 5   name                                          22929 non-null  object
 6   description                                   22299 non-null  object
 7   neighborhood_overview                         13403 non-null  object
 8   picture_url                                   22929 non-null  object
 9   host_id                                       22929 non-null  int64
 10  host_url                                      22929 non-null  object
 11  host_name                                     22929 non-null  object
 12  host_since                                    22929 non-null  object
 13  host_location                                 16702 non-null  object
 14  host_about                                    12875 non-null  object
 15  host_response_time                            19730 non-null  object
 16  host_response_rate                            19730 non-null  object
 17  host_acceptance_rate                          21077 non-null  object
 18  host_is_superhost                             22768 non-null  object
 19  host_thumbnail_url                            22929 non-null  object
 20  host_picture_url                              22929 non-null  object
 21  host_neighbourhood                            9252 non-null   object
 22  host_listings_count                           22929 non-null  int64
 23  host_total_listings_count                     22929 non-null  int64
 24  host_verifications                            22929 non-null  object
 25  host_has_profile_pic                          22929 non-null  object
 26  host_identity_verified                        22929 non-null  object
 27  neighbourhood                                 13403 non-null  object
 28  neighbourhood_cleansed                        22929 non-null  object
 29  neighbourhood_group_cleansed                  22929 non-null  object
 30  latitude                                      22929 non-null  float64
 31  longitude                                     22929 non-null  float64
 32  property_type                                 22929 non-null  object
 33  room_type                                     22929 non-null  object
 34  accommodates                                  22929 non-null  int64
 35  bathrooms                                     20067 non-null  float64
 36  bathrooms_text                                22901 non-null  object
 37  bedrooms                                      22114 non-null  float64
 38  beds                                          20006 non-null  float64
 39  amenities                                     22929 non-null  object
 40  price                                         20029 non-null  object
 41  minimum_nights                                22929 non-null  int64
 42  maximum_nights                                22929 non-null  int64
 43  minimum_minimum_nights                        22929 non-null  int64
 44  maximum_minimum_nights                        22929 non-null  int64
 45  minimum_maximum_nights                        22929 non-null  int64
 46  maximum_maximum_nights                        22929 non-null  int64
 47  minimum_nights_avg_ntm                        22929 non-null  float64
 48  maximum_nights_avg_ntm                        22929 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              22429 non-null  object
 51  availability_30                               22929 non-null  int64
 52  availability_60                               22929 non-null  int64
 53  availability_90                               22929 non-null  int64
 54  availability_365                              22929 non-null  int64
 55  calendar_last_scraped                         22929 non-null  object
 56  number_of_reviews                             22929 non-null  int64
 57  number_of_reviews_ltm                         22929 non-null  int64
 58  number_of_reviews_l30d                        22929 non-null  int64
 59  first_review                                  19591 non-null  object
 60  last_review                                   19591 non-null  object
 61  review_scores_rating                          19599 non-null  float64
 62  review_scores_accuracy                        19594 non-null  float64
 63  review_scores_cleanliness                     19594 non-null  float64
 64  review_scores_checkin                         19592 non-null  float64
 65  review_scores_communication                   19594 non-null  float64
 66  review_scores_location                        19592 non-null  float64
 67  review_scores_value                           19594 non-null  float64
 68  license                                       21582 non-null  object
 69  instant_bookable                              22929 non-null  object
 70  calculated_host_listings_count                22929 non-null  int64
 71  calculated_host_listings_count_entire_homes   22929 non-null  int64
 72  calculated_host_listings_count_private_rooms  22929 non-null  int64
 73  calculated_host_listings_count_shared_rooms   22929 non-null  int64
 74  reviews_per_month                             19591 non-null  float64
dtypes: float64(16), int64(22), object(37)
memory usage: 13.1+ MB

In [6]:
cols_to_keep = ['id', 'name', 'neighbourhood', 'neighbourhood_cleansed', 'longitude', 'latitude', 'property_type', 
                'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'price', 'number_of_reviews', 
                'review_scores_rating', 'reviews_per_month', 'host_id', 'host_name', 'host_location', 'host_since',
                'host_is_superhost', 'host_listings_count', 'host_total_listings_count', 'host_identity_verified',
                'license']

df_lisbon = df[cols_to_keep]

In [7]:
df_lisbon.head(2)

,id,name,neighbourhood,neighbourhood_cleansed,longitude,latitude,property_type,room_type,accommodates,bathrooms,...,reviews_per_month,host_id,host_name,host_location,host_since,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,license
0,935509480248268779,RC pascoal Q3,NaN,Arroios,-9.138308,38.731989,Private room in rental unit,Private room,1,2.5,...,1.14,236955701,Vagner,"Lisbon, Portugal",2019-01-16,f,31,32,t,115251/AL
1,1033186766563842755,"Twin room city center, tourists spot, city centre","Lisboa, Portugal",Arroios,-9.142410,38.727730,Private room in rental unit,Private room,2,1.0,...,1.44,185898036,Flavio,NaN,2018-04-23,f,178,230,t,Exempt

In [8]:
df_lisbon.dtypes

id                            object
name                          object
neighbourhood                 object
neighbourhood_cleansed        object
longitude                    float64
latitude                     float64
property_type                 object
room_type                     object
accommodates                   int64
bathrooms                    float64
bedrooms                     float64
beds                         float64
price                         object
number_of_reviews              int64
review_scores_rating         float64
reviews_per_month            float64
host_id                        int64
host_name                     object
host_location                 object
host_since                    object
host_is_superhost             object
host_listings_count            int64
host_total_listings_count      int64
host_identity_verified        object
license                       object
dtype: object

In [9]:
df_lisbon['price_eur'] = df_lisbon['price'].str.replace('$', '')
df_lisbon['price_eur'] = df_lisbon['price_eur'].str.replace(',', '')
df_lisbon['price_eur'] = pd.to_numeric(df_lisbon['price_eur'])

/var/folders/b2/nkpmrw0s42q_zm32rwshljyr0000gn/T/ipykernel_56762/16545994.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lisbon['price_eur'] = df_lisbon['price'].str.replace('$', '')
/var/folders/b2/nkpmrw0s42q_zm32rwshljyr0000gn/T/ipykernel_56762/16545994.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lisbon['price_eur'] = df_lisbon['price_eur'].str.replace(',', '')
/var/folders/b2/nkpmrw0s42q_zm32rwshljyr0000gn/T/ipykernel_56762/16545994.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lisbon['price_eur'] = pd.to_numeric(df_lisbon['price_eur'])

In [10]:
df_lisbon.dtypes

id                            object
name                          object
neighbourhood                 object
neighbourhood_cleansed        object
longitude                    float64
latitude                     float64
property_type                 object
room_type                     object
accommodates                   int64
bathrooms                    float64
bedrooms                     float64
beds                         float64
price                         object
number_of_reviews              int64
review_scores_rating         float64
reviews_per_month            float64
host_id                        int64
host_name                     object
host_location                 object
host_since                    object
host_is_superhost             object
host_listings_count            int64
host_total_listings_count      int64
host_identity_verified        object
license                       object
price_eur                    float64
dtype: object

In [11]:
df_lisbon.describe()

,longitude,latitude,accommodates,bathrooms,bedrooms,beds,number_of_reviews,review_scores_rating,reviews_per_month,host_id,host_listings_count,host_total_listings_count,price_eur
count,22929.000000,22929.000000,22929.000000,20067.000000,22114.000000,20006.000000,22929.000000,19599.000000,19591.000000,2.292900e+04,22929.000000,22929.000000,20029.000000
mean,-9.207558,38.761844,3.852937,1.442343,1.703491,2.414576,60.624580,4.643127,1.451903,1.837126e+08,32.665533,46.749618,127.307953
std,0.112571,0.111675,2.383724,0.876686,1.246943,2.014215,94.925378,0.426366,1.473426,1.822362e+08,103.666998,232.892520,178.149540
min,-9.488100,38.676140,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.010000,1.445500e+04,1.000000,1.000000,10.000000
25%,-9.286540,38.711040,2.000000,1.000000,1.000000,1.000000,3.000000,4.520000,0.390000,2.219255e+07,2.000000,2.000000,65.000000
50%,-9.147540,38.719210,4.000000,1.000000,1.000000,2.000000,20.000000,4.750000,1.000000,1.167323e+08,5.000000,6.000000,90.000000
75%,-9.134800,38.747320,5.000000,2.000000,2.000000,3.000000,76.000000,4.900000,2.110000,3.313915e+08,18.000000,22.000000,138.000000
max,-8.838504,39.303860,16.000000,15.000000,43.000000,76.000000,1576.000000,5.000000,38.750000,5.673297e+08,2426.000000,8919.000000,9200.000000

In [12]:
df_lisbon.isnull().sum()

id                              0
name                            0
neighbourhood                9526
neighbourhood_cleansed          0
longitude                       0
latitude                        0
property_type                   0
room_type                       0
accommodates                    0
bathrooms                    2862
bedrooms                      815
beds                         2923
price                        2900
number_of_reviews               0
review_scores_rating         3330
reviews_per_month            3338
host_id                         0
host_name                       0
host_location                6227
host_since                      0
host_is_superhost             161
host_listings_count             0
host_total_listings_count       0
host_identity_verified          0
license                      1347
price_eur                    2900
dtype: int64

In [13]:
import data_utils

In [14]:
data_utils.calculate_percentile(df_lisbon, 'price_eur', 0.99)

The {col}'s {n}th percentile value is {percentile_value}.

799.7200000000012

In [15]:
x = df_lisbon['price_eur'].mean()
x

127.30795346747216

In [18]:
host_listings_df = df_lisbon[['id', 'latitude', 'longitude', 'host_id', 'host_name', 'host_listings_count', 'host_total_listings_count']]\
                .sort_values('host_total_listings_count', ascending=False)
host_listings_df

,id,latitude,longitude,host_id,host_name,host_listings_count,host_total_listings_count
11397,791236323863716667,38.69605,-9.45480,174792040,RoomPicks By Victoria,1917,8919
11415,791236323993315942,38.69738,-9.45451,174792040,RoomPicks By Victoria,1917,8919
11411,791236320332153450,38.69592,-9.45635,174792040,RoomPicks By Victoria,1917,8919
11412,791236321001595580,38.69551,-9.45568,174792040,RoomPicks By Victoria,1917,8919
11409,776082752424877983,38.69740,-9.45494,174792040,RoomPicks By Victoria,1917,8919
...,...,...,...,...,...,...,...
7893,13597640,38.72355,-9.13191,78609961,Ricardo,1,1
4109,38223509,38.72184,-9.46371,181052310,Teresa,1,1
4110,36022901,38.76612,-9.11222,295445777,Sofia,1,1
7895,28097887,38.72833,-9.14409,8864515,Ana,1,1
15843,30980825,38.72766,-9.13065,67950199,Susana,1,1

In [19]:
duplicated = host_listings_df[['latitude', 'longitude','host_id', 'host_name', 'host_listings_count', 'host_total_listings_count']].duplicated(keep='first')
duplicated

11397    False
11415    False
11411    False
11412    False
11409    False
         ...
7893     False
4109     False
4110     False
7895     False
15843    False
Length: 22929, dtype: bool

In [20]:
most_listings = host_listings_df[duplicated == False].sort_values('host_listings_count', ascending=False)
most_listings.head(15)

,id,latitude,longitude,host_id,host_name,host_listings_count,host_total_listings_count
19772,953355970717483281,38.688029,-9.326014,129230780,STK Homes,2426,5094
21034,953362731506570921,38.686619,-9.327293,129230780,STK Homes,2426,5094
20409,953363520560954558,38.687886,-9.326673,129230780,STK Homes,2426,5094
21032,953362252574427678,38.686602,-9.326194,129230780,STK Homes,2426,5094
21028,953355478836509740,38.687739,-9.327147,129230780,STK Homes,2426,5094
21029,953356476012251967,38.687062,-9.327478,129230780,STK Homes,2426,5094
21031,953362008589132611,38.687749,-9.327903,129230780,STK Homes,2426,5094
21033,953362492797402555,38.687839,-9.327962,129230780,STK Homes,2426,5094
3326,937624424968887705,38.778189,-9.159332,439074505,Travelnest,2293,5656
6186,894672705848356033,38.692846,-9.364452,439074505,Travelnest,2293,5656
11415,791236323993315942,38.697380,-9.454510,174792040,RoomPicks By Victoria,1917,8919
11397,791236323863716667,38.696050,-9.454800,174792040,RoomPicks By Victoria,1917,8919
11554,548916636583326827,38.703270,-9.475260,174792040,RoomPicks By Victoria,1917,8919
11444,791236322322168285,38.697060,-9.454330,174792040,RoomPicks By Victoria,1917,8919
11409,776082752424877983,38.697400,-9.454940,174792040,RoomPicks By Victoria,1917,8919

In [21]:
host_listings_count = host_listings_df.groupby(['host_name', 'host_id'])['id'].count().reset_index()\
                     .sort_values('id', ascending=False)

In [22]:
host_listings_count.head(20)

                     host_name    host_id   id
2686           Feels Like Home    3953109  289
1182                Blueground  447375630  221
8835                      Ukio  419162816  187
7171                     Pedro  505424337  150
1184                    BnBird   76223539  146
276                     Altido    1756107  121
2878                    Flavio  185898036  110
202   Alexandra Pedro And Team    5691663  102
5202                      Luís  186448151   99
4876                 LisBeyond   15900664   74
114                  Albertino    2372087   63
7704                 RoomPicks  484535538   62
8814            Travelservices  440843690   55
8027             Sarah & Pedro   84627990   54
275                  Alojoeste  331391493   52
3460      Holidays In Ericeira  170772126   51
3958                     Joana   17457001   49
5783            Maria De Jesus   17638903   48
739                      André  408286736   46
6298                   Misha'S   22370159   46

In [100]:
listingcounts = df_lisbon.host_id.value_counts()
listingcounts

host_id
3953109      289
447375630    221
419162816    187
505424337    150
76223539     146
            ...
89206616       1
15180161       1
3414430        1
459385582      1
138125654      1
Name: count, Length: 9216, dtype: int64

In [109]:
host_listings_count = df_lisbon.groupby(['host_name', 'host_id'])['id'].count().reset_index().sort_values('id', ascending=False)

In [111]:
host_listings_count.head(30)

                     host_name    host_id   id
2686           Feels Like Home    3953109  289
1182                Blueground  447375630  221
8835                      Ukio  419162816  187
7171                     Pedro  505424337  150
1184                    BnBird   76223539  146
276                     Altido    1756107  121
2878                    Flavio  185898036  110
202   Alexandra Pedro And Team    5691663  102
5202                      Luís  186448151   99
4876                 LisBeyond   15900664   74
114                  Albertino    2372087   63
7704                 RoomPicks  484535538   62
8814            Travelservices  440843690   55
8027             Sarah & Pedro   84627990   54
275                  Alojoeste  331391493   52
3460      Holidays In Ericeira  170772126   51
3958                     Joana   17457001   49
5783            Maria De Jesus   17638903   48
739                      André  408286736   46
6298                   Misha'S   22370159   46
3481                    Homing  465505052   46
2838                    Filipe  222858515   46
6666               Olala Homes  129000409   46
645                       Ando  265211529   44
4823                    Libest   56201244   44
8154             SmithAndAdams  508522478   42
7280        Portugal Portfolio   25391913   41
2013                    Daniel    1659960   41
4926                  Lisbonne   34827624   41
6358            My Fair Lisbon   26944307   40

In [113]:
find = host_listings_count[host_listings_count['host_name'] == 'STK Homes']
find

      host_name    host_id  id
7861  STK Homes  129230780   8